<div id="game">
    <div id="game-pad">
        <div id="green" class="off"></div>
        <div id="red" class="off"></div>
        <div id="ctrl-container">
            <div id="ctrl">
                <%= link_to 'start', 'simon/start', :remote => true %>
            </div>
        </div>
        <div id="yellow" class="off"></div>
        <div id="blue" class="off"></div>
    </div>
</div>
